<!--
 * @Date: 2022-03-29 14:32:32
 * @LastEditors: gepanwen
 * @LastEditTime: 2022-03-29 16:33:00
 * @FilePath: \V5.0_Webe:\workSpace\vue-editor\src\views\test2.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p class='mceNonEditable'>
      <div class="radio-group"><label><input checked="checked" name="sex" type="checkBox" value="男" /> 男</label> <label><input name="sex" type="checkBox" value="女" /> 女</label></div>
      让我们来测试一下这个插入输入框转word什么效果，<input
        style="font-size: 14px; font-family: '宋体'; border-bottom: 1px solid #000; border-top: none; border-left: none; border-right: none;"
        type="text"
        value="测试插入输入框"
      />哈哈哈哈哈。
      <span
        class="myclass mceEditable"
        style="font-size: 18px; display: inline-block; min-width: 148px; min-height: 24px; font-family: '宋体'; color: #c22424; border: 1px solid #000;"
        data-display-type="block"
        data-qys-version="1.0"
        data-qys-type="text"
        data-qys-name="参数1"
        data-border-type="all"
        data-max="300"
        data-shadow-value="111"
        data-value="1111"
      >
        测试边框</span>&nbsp; 少时诵诗书所所
    </p>
    <div class="radio-group">
      <label
        ><input checked="checked" name="sex" type="radio" value="男" />
        男</label>
      <label><input name="sex" type="radio" value="女" /> 女</label>
    </div>
    <p>
      &nbsp;
      <span
        class="myclass mceEditable"
        style="font-size: 14px; display: inline-block; min-width: 148px; min-height: 24px; font-family: '楷体'; color: #1c91a3; border-bottom: 1px solid #000; border-top: none; border-left: none; border-right: none;"
        data-display-type="block"
        data-qys-version="1.0"
        data-qys-type="text"
        data-qys-name="参数1"
        data-border-type="all"
        data-max="300"
        data-shadow-value="111"
        data-value="1111"
      >
        测试下边框额鹅鹅鹅</span>少时诵诗书所所
      &nbsp;
    </p>
  </body>
</html>